<div class="screen-elements">
    <h2>Select a Currency</h2>
    <div class="dropdown">
        <div class="selection-bar"></div>
        <button class="dropdown-btn">Click</button>
        <div class="dropdown-content" id="currencySelect">
            <a routerLink="#">Currency 1</a>
            <a routerLink="#">Currency 2</a>
            <a routerLink="#">Currency 3</a>
            <a routerLink="#">Currency 4</a>
        </div>
    </div>
    <input class="selected-currency-text">
    <!-- <input type="text" placeholder="dropdown incoming..."> -->
    <app-amount></app-amount>
</div>



