<div class="screen-elements">
    <h2>Select a Currency</h2>
    <div class="dropdown">
        <button class="dropdown-btn">Click</button>
        <div class="dropdown-content" id="currencySelect">
            <a routerLink="#">USD</a>
            <a routerLink="#">EUR</a>
            <a routerLink="#">JPY</a>
            <a routerLink="#">CHF</a>
        </div>
    </div>
    <!-- <input class="selected-currency-text"> -->
    <!-- <input type="text" placeholder="dropdown incoming..."> -->
    <app-amount></app-amount>
</div>



