.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen {
    width: 520px;
    height: 650px;
    background-color: white;
    color: black;
    border: 2px solid black;

}

.title{
    text-align: center;
    border: 3px;
    margin-bottom: 5%;
}